<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up - Albumrama</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Register for Albumrama to access and save your grids">
    <meta name="author" content="Jean Paul Perez">
    <link href="signupstyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="images/favs/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favs/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favs/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favs/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favs/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favs/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favs/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favs/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favs/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/favs/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favs/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favs/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favs/favicon-16x16.png">
    <link rel="manifest" href="images/favs/manifest.json">
    <meta name="theme-color" content="#eaf8bf">
    <meta name="msapplication-TileColor" content="#0d0106">
    <meta name="msapplication-TileImage" content="images/favs/ms-icon-144x144.png">
  </head>
  
  <body>
    <div id="container">
      <div id="home">
        <!-- Navigation bar -->
        <nav id="navbar">
          <!-- Logo -->
          <div id="logo-cont">
            <div id="img-cont">
              <a href="/"><img src="../images/logos/albumrama-335px-110px.png" alt="albumrama logo" id="albu-logo"></a>
            </div>
          </div>
        </nav>
      </div>
      <div id="signin-cont">
        <div id="second-cont">
          <div id="headercont"><h1>Register for Albumrama</h1></div>
          <div id="form-cont">
            <form action="/signup" method="POST">
              <input type="text" name="email" placeholder="youremail@email.com">
              <input type="password" name="password" placeholder="Password">
              <button id="register">Register</button>
            </form>
          </div>
          <div id="newmemb-cont"><a href="/signin">Already registered? Login here.</a></div>
        </div>
      </div>
    </div>
  </body>

</html>