/* reset browser */
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* set body */
body{
  background-color: #0d0106;
  width: 94%;
  margin: auto;
}

/* strip link decoration */
a{
  text-decoration: none;
}



/* home container style */
#home{
  margin: -20px 0 0 0;
}

/* nav style */
#navbar{
  font-family: 'Poiret One', sans-serif;
  font-size: 2rem;
}

/* logo container style */
#logo-cont{
  width: 30%;
  margin: 25px 0 0 0;
  float: left;
}

/* logo image style */
#albu-logo{
  width: 290px;
}

#list-holder{
  width: 70%;;
  margin: 58px 0 11px 0;
  float: right;
}

/* list style */
#nav-links{
  list-style: none;
}

/* link container style */
#nav-links > li{
  float: right;
  display: inline-block;
  list-style: none;
  margin: 0 0 0 80px;
}

li > a{
  color: #eaf8bf;
  position: relative;
}

li > a::after{
  border-bottom: .05em solid #eaf8bf;
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: .01em;
  transition: right .4s cubic-bezier(0, .5, 0, 1);
}

li > a:hover::after{
  right: 0;
}

#loggedin-btn{
  font-family: 'Mulish', sans-serif;
  font-size: 2rem;
  color: #eaf8bf;
  padding: 5px 15px 5px 15px;
  background-color: #006992;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  margin-top: -5px;
}


/* main header style */
#main-header{
  padding: 200px 0 0 0;
}

/* collage example container style */
#collage-excont{
  width: 50%;
  float: left;
}

/* image style */
#ex-collage{
  width: 900px;
}

/* header container style */
#hello{
  width: 50%;
  float: right;
  color: #eaf8bf;
  font-family: 'Mulish', sans-serif;
  padding: 100px 0 0 0;
}

/* hook container style + cta button container style */
#hook, #collcont-btn{
  margin: 50px 0 0 80px;
}

/* extra container style */
#extra{
  margin: 20px 0 0 80px;
}

/* hook h1 style */
h1{
  font-size: calc(2em + 2vw);
}

/* extra h2 style */
h2{
  font-size: calc(1.1em + 1.1vw);
}

/* start button style */
#coll-btn{
  font-family: 'Mulish', sans-serif;
  font-size: 1.6rem;
  color: #eaf8bf;
  padding: 15px 45px 15px 45px;
  background-color: #006992;
  border: none;
  border-radius: 13px;
  cursor: pointer;
}



/* instructions container style */
#instr-cont{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 750px 0 0 0;
  grid-column-gap: 20px;
  color: #eaf8bf;
}

/* individual instruction style */
.step{
  display: flex;
  justify-content: center;
  font-family: 'Mulish', sans-serif;
  font-size: 1.4rem;
  align-items: center;
  text-align: center;
}

/* number container style */
.num{
  text-align: center;
  background-color: #eca400;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #0d0106;
  font-size: 2rem;
  margin: 0 10px 0 0;
}

/* actual number style */
.num > p{
  padding: 8px 0 0 0;;
}



/* usergrid container style */
#usergrid, #searchgrid{
  display: grid;
  grid-template-columns: repeat(5, 174px);
  grid-gap: 20px;
  padding: 50px 0 50px 0;
  margin: 60px auto 60px auto;
  width: 1030px;
  background-color: #eaf8bf;
  border-radius: 60px;
  justify-content: center;
  align-items: center;
}

/* each user grid item */
.ugriditem{
  height: 174px;
  box-shadow: 15px 15px 22px -4px #0d0106;
}

/*options grid*/
#user-options-cont{
  display: grid;
  grid-template-columns: repeat(2, 300px);
  justify-content: center;
  align-items: center;
}

/* download container */
#download-cont, #save-cont{
  text-align: center;
}

/* actual download button */
#download, #save{
  font-size: 50px;
  height: 70px;
  width: 180px;
  padding: 10px;
  background: #eaf8bf;
  border: 1px solid #eaf8bf;
  color: #006992;
  border-radius: 20px;
  cursor: pointer;
}

/* search section container */
#searchsection{
  margin: 60px auto 0 auto;
  width: 1030px;
  display: flex;
  height: 80px;
}

/* input box style */
#search{
  width: 1030px;
  border: 3px solid #eaf8bf;
  border-radius: 60px 0 0 0px;
  outline: none;
  font-size: 1.3rem;
  background-color: #eaf8bf;
  color: #0d0106;
  padding: 0 0 0 40px;
}

/* album search button style */
#album-search{
  width: 60px;
  height: 80px;
  padding-right: 40px;
  border: 1px solid #eaf8bf;
  background: #eaf8bf;
  color: #006992;
  border-radius: 0 5px 5px 0;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 0px;
  cursor: pointer;
  font-size: 30px;
}

/* searchgrid container style */
#searchgrid{
  background-color: #eaf8bf;
  margin: 0 auto 0 auto;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* children of searchgrid style */
#searchgrid > *{
  cursor: pointer;
}

/* reset button container style */
#resetbutn{
  margin: auto;
  width: 1030px;
  background-color: red;
  text-align: right;
  background-color: #eaf8bf;
  padding: 0 0 50px 0;
  border-radius: 60px;
  height: 40px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

/* reset button style */
#reset{
  width: 60px;
  height: 80px;
  padding: 0 40px 0 0;
  border: 1px solid #eaf8bf;
  background: #eaf8bf;
  color: #006992;
  border-bottom-right-radius: 60px; 
  cursor: pointer;
  font-size: 35px;
}



/* about container style */
#about{
  margin: 60px 0 0 0;
  text-align: center;
}

/* about excerpt paragraph style */
#abt-excerpt-cont{
  color: #eaf8bf;
  margin: 20px 0 30px 0;
  font-family: 'Mulish', sans-serif;
  font-size: 1.3rem;
}

/*contact img container style */
#contacts-cont{
  margin: 0 0 60px 0;
}

/* contact img style */
#contacts-cont > a >img{
  width: 30px;
  border-radius: 5px;
}

/* behance img style */
#behance{
  margin: 0 15px 0 15px;
}



/* modal update log */
#update-log{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}

/* modal content box */
#modal-content{
  background-color: #0d0106;
  color: #eaf8bf;
  margin: 15% auto;
  padding: 30px;
  border: 1px solid #eaf8bf;
  border-radius: 60px;
  width: 30%;
  font-family:'Mulish', sans-serif;
}

/* updates list style */
#modal-txt{
  margin: 10px 0 0 30px;
}

#modal-txt > ul{
  margin: 30px 0 0 0;
  font-size: 20px;
}

#modal-txt > ul > li{
  margin: 10px 0 0 0;
}

/* The Close Button */
#close {
  color: #006992;
  float: right;
  font-size: 30px;
  font-weight: bold;
  margin: -12px 0 0 0;
}

#close:hover, #close:focus {
  text-decoration: none;
  cursor: pointer;
}


/* footer style */
footer{
  color: #eaf8bf;
  font-family: 'Mulish', sans-serif;
  margin: 40px 0 5px 0;
}

/* footer a style */
footer a{
  color: #eca400;
}

/* responsiveness */
@media (max-width: 1800px){
  #collage-excont{
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 0 25px 0 0;
  }

  #ex-collage{
    width: 650px;
    margin: 25px 0 25px 0;
  }

  /* header container style */
  #hello{
    width: 100%;
    text-align: center;
    padding: 0 0 0 0;
  }

  /* hook container style + cta button container style */
  #hook{
    margin: 0 0 10px 0;
  }

  /* extra container style */
  #extra{
    margin: 0px 0 0 0px;
  }

  #collcont-btn{
    margin: 25px 0 25px 0;
  }

  /* instructions container style */
  #instr-cont{
    width: 100%;
    margin: 685px 0 0 0;
    grid-column-gap: 10px;
  }

  /* number container style */
  .num{
    display: none;
  } 
}

@media (max-width: 1200px){
  #nav-links > li > a{
    display: none;
  }

  #ex-collage{
    width: 685px;
  }

  #usergrid, #searchgrid{
  grid-template-columns: repeat(4, 174px);
  width: 900px;
  } 
  
  .ugriditem:nth-last-child(2){
    grid-column-start: 2;
  }

  #searchsection{
    width: 900px;
  }

  #resetbutn{
    width: 900px;
  }
}

@media (max-width: 992px){
  #usergrid, #searchgrid{
    grid-template-columns: repeat(3, 174px);
    width: 700px;
  } 

  .ugriditem:nth-last-child(n){
    grid-column-start: auto;
  }

  .ugriditem:nth-last-child(1){
    grid-column-start: 2;
  }

  #searchsection{
    width: 700px;
  }

  #resetbutn{
    width: 700px;
  }

  #modal-content{
    width: 50%;
  }
}

@media (max-width: 768px){
  #albu-logo{
    width: 200px;
    margin: 20px 0 0 0;
  }

  #loggedin-btn{
    font-size: 25px;
  }

  #ex-collage{
    width: 450px;
  }

  #usergrid, #searchgrid{
    grid-template-columns: repeat(2, 174px);
    width: 440px;
  } 

  /*options grid*/
  #user-options-cont{
    grid-template-columns: repeat(2, 200px);
  }

  #searchsection{
    width: 440px;
  }

  #resetbutn{
    width: 440px;
  }

  #modal-content{
    width: 70%;
  }

}

@media (max-width: 480px){
  body{
    width: 98%;
  }

  #ex-collage{
    width: 390px;
  }

  #instr-cont{
    margin: 540px 0 0 0;
  }

  #usergrid, #searchgrid{
    grid-template-columns: repeat(2, 174px);
    width: 390px;
  } 

  /*options grid*/
  #user-options-cont{
    grid-template-columns: repeat(2, 182px);
  }

  #download, #save{
    width: 140px;
  }

  #searchsection{
    width: 390px;
  }

  #resetbutn{
    width: 390px;
  }

  /* hook h1 style */
  h1{
    font-size: calc(1.6em + 2vw);
    margin: 0 5px 0 5px;
  }

  /* extra h2 style */
  h2{
    font-size: calc(.8em + 1.1vw);
    margin: 0 15px 0 15px;
  }

  /* start button style */
  #coll-btn{
    font-size: 1.2rem;
    padding: 10px 40px 10px 40px;
  }

  .step{
    font-size: 1rem;
  }

  #aboutimg{
    width: 140px;
  }

  #abt-excerpt-cont{
    font-size: 1rem;
  }

  #modal-content{
    width: 70%;
  }
}
